/* Header.css */

header {
  background-color: #333;
  padding: 0.5rem;
  width: 100%;
  position: fixed;
  z-index: 1000;
  transition: height 0.3s ease;
}

header.shrink {
  height: var(--header-height-collapsed);
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 1rem;
  position: relative;
}

nav ul li a, nav ul li button {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

nav ul li .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  padding: 0.5rem;
  list-style: none;
  min-width: 150px; /* Ensure minimum width for dropdown */
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
}

nav ul li .dropdown-menu li {
  margin: 0.5rem 0;
}

nav ul li .dropdown-menu li a {
  color: white;
  text-decoration: none;
}

nav ul li .dropdown-menu li a:hover {
  text-decoration: underline;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 1200px) {
  header {
    height: var(--header-height-lg);
  }
}

@media (max-width: 992px) {
  header {
    height: var(--header-height-md);
  }
}

@media (max-width: 768px) {
  header {
    height: var(--header-height-sm);
  }
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 0.5rem 0;
  }
}