/* Header.css */
header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222;
  height: 70px;
  background: #399375;
  width: 100%;
  position: fixed;
  z-index: 99;
  transition: height 0.3s ease;
  
}

header.shrink {
  height: var(--header-height-collapsed);
}

.menu {
  height: inherit;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  list-style-type: none;
}


.menu li {
  padding: 0 10px
}

.menu a, .menu button {
  color: white;
  cursor: pointer;
}

.logo {
  flex: 1;
  font-size: 22px;
}

.menu .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  padding: 0.5rem;
  list-style: none;
  min-width: 150px; /* Ensure minimum width for dropdown */
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
}

nav ul li .dropdown-menu li {
  margin: 0.5rem 0;
}

nav ul li .dropdown-menu li a {
  color: white;
  text-decoration: none;
}

nav ul li .dropdown-menu li a:hover {
  text-decoration: underline;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 1200px) {
  header {
    height: var(--header-height-lg);
  }
}

@media (max-width: 992px) {
  header {
    height: var(--header-height-md);
  }
}

@media (max-width: 768px) {
  header {
    height: var(--header-height-sm);
  }
}

@media (max-width: 600px) {


  nav ul li {
    margin: 0.5rem 0;
  }
}