/* WhiteboardContainer.css */
  
  .whiteboard-container {
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: row;
  }
  
  .whiteboard-inner-container {
    display: flex;
    width: 100%;
    background-color: #399375;
    border-radius: 20px;
    margin: 32px;
  }

  @media (max-width: 768px) {
    .whiteboard-container {
      height: 80%;
    }

    .whiteboard-inner-container {
      margin: 16px;

    }
  }