/* WhiteboardContainer.css */
  
  .whiteboard-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .whiteboard-inner-container {
    display: flex;
    width: 90%;
    background: #399375;
    border-radius: 20px;
    margin-bottom: 8px;
  }

  @media (max-width: 768px) {
    .whiteboard-container {
      height: 80%;
    }

    .whiteboard-inner-container {
      margin-bottom: 48px;
    }
  }