.room-container {
  display: grid;
  grid-template-columns: 10% 90%;
  background: white;
  cursor: url("../../assets/images/pencil.png"), auto;
}

.board-container {
  grid-column: 2;
  width: 100vw;
  height: 100vh;
}

.side-bar-container {
  grid-column: 1;
}

/* Room Info */


.explore-box {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.explore-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 60px 60px;
  background-image: linear-gradient(90deg, black 1px, transparent 0px), linear-gradient(black 1px, transparent 0px);
  opacity: 0.1;
  pointer-events: none;
}


.room-option {
  height: 60%;
  width: 90%;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.room-option input {
  align-self: center;
  padding: 1rem;
  width: 40%;
  font-size: 24px;
  border: 5px solid var(--rosewater);
  font-weight: bold;
  border-radius: 0.5rem;
  text-align: center;
  background: transparent;
  transition: border-color 0.3s ease;
}

.room-option input:focus {
  border-color: #e7a1a4; /* Change to your desired color */
  outline: none; /* Remove default outline */
  /* box-shadow: 0 0 200px var(--rosewater); */
}

.room-option button {
  align-self: center;
  margin-top: 48px;
  width: 43%;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  background: #e7a1a4;
  color: var(--white);
  font-weight: bold;
  font-size: 16pt;
}

.room-option button:hover {
  background: var(--rosewater);
}

.create-room-label {
  margin-top: 2rem;
  width: 100%;
  text-align: center;

}

.create-room-label span {
  color: var(--coffee-pot);
  border: none;
  font-size: 16pt;
  font-weight: bold;
  background: none;
  cursor: pointer;
}

.p-error{
  color: var(--rosewater);
  font-weight: bold;
  font-size: 20px;
}


@media (max-width: 768px) {
  .room-container {
    grid-template-columns: 25% 75%;
  }
  .room-option input {
    width: 60%;
  }

  .room-option button {
    width: 70%;
  }

  .create-room-label {
    margin-top: 5rem;
  };
}