/* Home.css */

.hero {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  height: auto;
}

.projector-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projector-hanger {
  left: 50%;
  width: 20px;
  height: 20px;
  background: var(--orchid-light);
  border-radius: 50%;
  z-index: 1;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5); /* Hanger shadow */
}

.projector-hanger-line {
  left: 50%;
  width: 2px;
  height: 32px;
  background-color: var(--dark-coffee-pot);
}

.projector-top-bar {
  width: 95%;
  height: 32px;
  z-index: 2;
  border-radius: 8px;
  background: linear-gradient(to bottom, var(--orchid), var(--orchid-light));
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.projector-screen {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 92%;
  height: 100%;
  background: var(--white); 
  border: 1px solid var(--rosewater);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: -16px auto;
  border-radius: 1rem;
}

.hero-p {
  margin: 32px 64px;
  text-align: center;
  font-size: 16pt;
  color: var(--black); /* Coffee Pot */
}

/* Login Auth */

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 32px 64px;
}

.login-description {
  font-size: 18px;
  color: var(--orchid);
  margin-bottom: 24px;
}

.login-buttons {
  display: flex;
  gap: 16px;
}

.login-btn, .signup-btn {
  padding: 10px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn {
  background-color: var(--orchid-dark); /* Rosewater */
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.signup-btn {
  background-color: transparent;
  border: 2px dashed var(--orchid);
  color: var(--black);
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.login-btn:hover {
  background-color: var(--orchid); /* Slightly darker Rosewater */
}

.signup-btn:hover {
  background-color: var(--orchid); /* Slightly darker Dusty Rose */
  color: white;
  border: 2px dashed var(--black);
}

@media (max-width: 768px) {
  .login-section h2 {
    font-size: 20px;
  }
  .login-description {
    font-size: 16px;
  }
  .login-btn, .signup-btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}


/* Room  */


.room {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease;
}

.room.dimmed {
  filter: brightness(0.5);
  pointer-events: none;
}

.intro-div p {
  margin: 2rem;
  text-align: center;
  font-size: 18px;
}
@media (max-width: 768px) {
  .intro {
    margin-top: 24px;
  }
  .intro-div {
    margin-top: 16px;
    width: 100%;
  }
  .intro-div p {
    font-size: 20px;
  }
  .room {
    min-height: 450px;
  }
}