/* Home.css */
.main-container {
  height: 100%;
  width: 100%;
}

.header-container {
  display: flex;
  width: 100%;
  height: 3rem;
  }

.intro {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 64px;
}
.intro-div {
  background: #fff;
  display: flex;
  width: 100%;
  height: 150px;
  border-radius: 2rem;
	justify-content: space-evenly;
	align-items: center;
  transform: scale(0.9);

}

.room {
  background: #fff;
  display: flex;
  width: 90%;
  height: 900px;
  border-radius: 2rem;
  margin-bottom: 64px;

}
.intro-div p {
  margin: 2rem;
  text-align: center;
  font-size: 18px;
}
@media (max-width: 768px) {
  .intro {
    margin-top: 24px;
  }
  .intro-div {
    margin-top: 16px;
    width: 100%;
  }
  .intro-div p {
    font-size: 20px;
  }
  .room {
    height: 1000px;
  }
}